<app-modal modalId="historyModal">
  <div class="modal-body">
    <div id="historyContent"></div>
  </div>
</app-modal>

<app-modal modalId="addPatient">
  <div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="pb-0 mb-0 text-primary">Registra Paziente</h3>
      <button title="Chiudi" class="btn btn-white btn-xs float-end" type="button" data-bs-dismiss="modal" aria-label="Chiudi">
        <svg class="icon icon-lg icon-primary mr-2 me-2">
          <use href="/assets/bootstrap-italia/svg/sprites.svg#it-close"></use> 
        </svg>
      </button>
    </div>    
    <div class="alert alert-primary rounded w-75 container mb-5" role="alert">
      I campi contrassegnati da "<b>*</b>" sono obbligatori.   </div>

    <form [formGroup]="AppPaziente.form" *ngIf="AppPaziente.form" (ngSubmit)="AppPaziente.onSubmit()" 
    (input)="AppPaziente.labelsBehavior($event)" (click)="AppPaziente.labelsBehavior($event)" (focusout)="AppPaziente.labelsBehavior($event)">
      <div class="row">
        <!-- aggiungere titoli residenza e domicilio  -->
        <div *ngFor="let field of AppPaziente.fields" 
          [ngClass]="{'col-4': field.type !== 'radio', 'col-8': field.type === 'radio'}"
        > <div class="form-group mb-5">
            <ng-container [ngSwitch]="field.type">
              
              <textarea *ngSwitchCase="'textarea'" class="form-control" 
                [formControlName]="field.key" [id]="field.key" [name]="field.key"></textarea>

              <div *ngSwitchCase="'radio'">
                <div class="form-check">
                  <input type="radio" class="form-check-input" [id]="field.key + '-m'" [name]="field.key" [value]="'M'" [formControlName]="field.key">
                  <label class="form-check-label" [for]="field.key + '-m'"><small>Maschio</small></label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" [id]="field.key + '-f'" [name]="field.key" [value]="'F'" [formControlName]="field.key">
                  <label class="form-check-label" [for]="field.key + '-f'"><small>Femmina</small></label>
                </div>
              </div>

              <div *ngSwitchDefault>
                <input
                  [type]="field.type && field.type!=='autocomplete' ?field.type :'text'"
                  class="form-control"
                  [id]="field.key"
                  [name]="field.key"
                  [formControlName]="field.key"
                  [attr.list]="field.type ==='autocomplete' ?field.key+'-list' : ''"
                />
                <datalist *ngIf="field.type ==='autocomplete'" [id]="field.key+'-list' ">
                  @if (field.key.includes('PostalCode')){ <!--CAP-->
                    <option *ngFor="let opt of AppPaziente.caps" value="{{ opt.cap }}"></option> 
                    
                  }@else if (field.key.includes('Municipality')){ <!--COMUNE-->
                    <option *ngFor="let opt of AppPaziente.regioni" 
                    value="{{ opt.regione }}, {{ opt.comune }}"></option>
                    
                  }@else if (field.key.includes('Province')){ <!--PROVINCIA-->
                    <option *ngFor="let opt of AppPaziente.provinces"
                    value="{{ opt.sigla_provincia }}, {{ opt.denominazione_provincia }}"></option>
                  }
                </datalist>
              </div>
            </ng-container>

            <label [for]="field.key"class="text-whitespace"
              [class.active]="field.type === 'date' || field.type === 'radio'"
            > {{ field.label }}
              <b *ngIf="AppPaziente.form.get(field.key)?.errors?.['required'] " class="text-danger">*</b>
            </label>

            <div class="invalid-feedback d-block" *ngIf="AppPaziente.isInvalid(field.key)">
              Campo obbligatorio. {{ field.errorMessage || '' }}
            </div>
          </div>
        </div>

        <div class="col-12">
          <button title="Annulla" class="btn btn-outline-primary btn-sm" type="button" data-bs-dismiss="modal" aria-label="Annulla">Annulla</button>
          <button title="Invio" class="btn btn-primary btn-sm mx-2" type="submit" aria-label="Invio">Invio</button>
        </div>
      </div><!-- row -->

    </form>

  </div>
</app-modal>



<article class="container my-4">
  <div id="routerBreadcrumb"></div>

  <!--! Title and Actions -->
  <div class="row mb-4">
    <div class="col-md-6">
      <h1 class="mb-0 text-primary font-sans-serif" aria-label="Nuova Prenotazione ALPI">Nuova Prenotazione ALPI</h1>
      <p class="text-muted text-secondary font-sans-serif" aria-label="Inserimento prenotazione per prestazioni sanitarie">Inserimento prenotazione per prestazioni sanitarie</p>
    </div>
    <div class="col-md-6 text-md-right mt-3 mt-md-0">
      <div class="btn-group" role="group">
        <button title="Guida" type="button" class="btn btn-primary btn-sm" aria-label="Guida">
          <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-help-circle"></use>
          </svg>Guida
        </button>

        <button title="Stampa" type="button" class="btn btn-primary btn-sm" aria-label="Stampa">
          <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-print"></use>
          </svg>Stampa
        </button>
      </div>
    </div>
  </div>

  <!--! Processo di prenotazione a tabs -->
  <div class="row mb-4 justify-content-center">
    <div class="mx-auto" style="max-width: max-content;">
      <ul class="nav nav-tabs nav-tabs-icon-text" id="prenotationTabs" role="tablist" aria-label="Tab Prenotazione"> 

        <li *ngFor="let tab of tabsDatas" class="nav-item" role="presentation">
          <a class="nav-link p-3 {{tab.status()}}" id="{{ tab.key }}-tab" data-bs-toggle="tab" 
            href="#{{ tab.key }}" role="tab" title="{{ tab.title }}" aria-label="Secondo tab Data e Ora " 
            [attr.aria-controls]="tab.key" aria-selected="false"
            (click)="tabsHandleClick($event)"
          > <svg class="icon"><use [attr.href]="'/assets/bootstrap-italia/svg/sprites.svg#' + tab.icon"></use></svg>
            {{ tab.title }}
          </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- Main Content Row -->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body tabs-container tab-content p-0">

          <!--! Tab 1: PRESTAZIONE -->
          <div class="panel tab-pane active" id="prestazione">
            <div class="row g-3 justify-content-center">
              <!-- Filtri  -->
              <div class="col-12 col-md-4 col-lg-3 shadow-sm p-3 m-0" id="filters" aria-label="Filtri prestazione">
                <h5 class="fw-bold">Filtri </h5>
                <section class="form-group compact-form">
                
                  <!-- Campo di ricerca testuale -->
                  <div class="it-search-wrapper pb-3" role="search">
                    <label for="filtroPrestazioni" class="visually-hidden">Cerca Prestazione</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text bg-white border-end-0">
                        <svg class="icon icon-sm" aria-hidden="true">
                          <use href="/assets/bootstrap-italia/svg/sprites.svg#it-search"></use>
                        </svg>
                      </span>
                      <!--TEST: Visita cardiologica, Elettrocardiogramma, Ecocardiogramma, RX Torace, TAC Cranio-->
                      <input type="search" class="form-control border-start-0 m-0" 
                        (input)="AppPrestazioni.setFiltro($event)" id="filtroPrestazioni"
                        placeholder="Cerca Prestazione" aria-label="Cerca Prestazione"
                        [(ngModel)]="AppPrestazioni.filtroPrestazioni" >
                    </div>
                  </div>

                  <div class="select-wrapper pb-5">
                    <label for="filtroStruttura">Seleziona Struttura</label>
                    <select (input)="AppPrestazioni.setFiltro($event)" id="filtroStruttura" aria-label="Seleziona Struttura"
                      [(ngModel)]="AppPrestazioni.filtroStruttura">
                      <option value="" selected>Tutte le strutture</option>
                      <option *ngFor="let s of AppPrestazioni.strutture" value="{{ s.id }}">{{ s.name }}</option>
                    </select>
                  </div>

                  <div class="select-wrapper mb-3">
                    <label for="filtroMedico">Seleziona Medico</label>
                    <select (input)="AppPrestazioni.setFiltro($event)" id="filtroMedico" aria-label="Seleziona Medico"
                      [(ngModel)]="AppPrestazioni.filtroMedico">
                      <option value="" selected>Tutti i medici</option>
                      <option *ngFor="let m of AppPrestazioni.medici" value="{{ m.id }}">
                        {{ m.firstName }} {{ m.lastName }}</option>
                    </select>
                  </div>

                  <div class="text-end mb-2">
                    <button (click)="AppPrestazioni.resetFiltri()" class="btn btn-primary p-2" aria-label="Reset">
                      <svg class="icon icon-sm icon-padded icon-white m-0 me-1">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-close-circle"></use>
                      </svg>
                      <span>Reset</span>
                    </button>
                  </div>

                  <div class="details">
                    <div class="pe-2 border border-2 border-neutral-2-bg-a2 rounded-top p-3" style="max-height: 30vh; overflow-y: scroll;"
                      *ngIf="AppPrestazioni.selezionate().length">
                      @for (ps of AppPrestazioni.selezionate(); track $index) {
                        <h6 class="font-weight-bold">{{ ps.name }}</h6>
                        <div>
                          <span class="badge bg-secondary">{{ AppPrestazioni.getReparto(ps.repartoId)?.name }}</span>
                        </div>
                        <div class="d-grid justify-content-between" style="grid-template-columns: auto auto;">
                          <span>Durata:</span>
                          <span class="font-weight-bold">{{ ps.defaultDuration }} minuti</span>
                          <span>Codice prestazione:</span>
                          <span class="font-weight-bold">{{ ps.code }}</span>
                          <span>Costo prestazione:</span>
                          <span class="font-weight-bold">€{{ ps.privatePrice }}</span>
                        </div>
                        <hr>
                      }
                    </div>
                  </div>
                </section>
              </div>
              <!-- Prestazioni -->
              <aside class="col-12 col-md-8 col-lg-6 shadow-sm p-3 m-0">
                <h5 class="fw-bold mb-3">Risultati Prestazioni</h5>
                
                <section class="list-group mb-3">
                  @if(!AppPrestazioni.hasActiveFilters()){
                    <!-- Messaggio: filtra almeno 3 caratteri -->
                    <div class="alert alert-info rounded">
                     Digita almeno 3 caratteri per filtrare le prestazioni.
                    </div>
                  }@else if(AppPrestazioni.isFiltroTestualeTroppoCorto()){
                    <!-- Messaggio: testo troppo corto -->
                    <div *ngIf="AppPrestazioni.isFiltroTestualeTroppoCorto()" class="alert alert-warning rounded">
                      Il filtro testuale richiede almeno 3 caratteri per la ricerca.
                    </div>
                  }@else if(AppPrestazioni.renderPrestazioni().length === 0 && AppPrestazioni.hasActiveFilters()){
                    <!-- Nessun risultato -->
                    <div class="alert alert-warning rounded">
                      Nessuna Prestazione trovata con i filtri applicati.
                    </div>

                  }@else {
                    <!-- L1ista risultati -->
                    <div *ngFor="let p of AppPrestazioni.renderPrestazioni()" 
                      class="agenda-item p-3 d-flex justify-content-between align-items-center"
                      [class.selected]="AppPrestazioni.isSelected(p)"
                      (click)="AppPrestazioni.selezionaPrestazioni(p, $event)"
                    >
                      <div>
                        <h6 class="mb-1">{{ p.name }}</h6>
                        <p class="small mb-0">Agenda: {{ AppPrestazioni.getAgenda(p.agendaId)?.name }}</p>
                        <p class="small text-muted mb-0">
                          {{ AppPrestazioni.getStruttura(p.strutturaId)?.name }} -
                          {{ AppPrestazioni.getReparto(p.repartoId)?.name }};
                          {{ AppPrestazioni.getReparto(p.repartoId)?.branchTypeId }}° piano;
                        </p>
                        <p class="small text-muted mb-0">
                          {{ AppPrestazioni.getMedico(p.medicoId)?.title }} 
                          {{ AppPrestazioni.getMedico(p.medicoId)?.lastName }} 
                          {{ AppPrestazioni.getMedico(p.medicoId)?.firstName }}
                        </p> 
                        <p class="small text-muted mb-0">Codice: {{ p.code }}</p>
                      </div>
    
                      <div prestazione>
                        <!-- Prima data disponibile -->
                        <button paziente class="btn btn-secondary" (click)="selezionaPrimaDisponibile()"
                          *ngIf="(!AppPrestazioni.isSelected(p) && !AppPrestazioni.selezionate().length) ||AppPrestazioni.isSelected(p)"
                        >
                          <div class="text-nowrap text-truncate small">Prima data disponibile</div>
                          <div>
                            <svg class="icon icon-sm icon-padded icon-white p-0 m-0 me-1">
                              <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-circle"></use>
                            </svg>
                            <small>{{ AppCalendario.firstTime(
                              AppPrestazioni.selezionate().length >1
                              ?AppPrestazioni.selezionate() :[p]
                            ) }}</small>
                          </div>
                        </button>
                        <!-- Altre disponibilità -->
                        <button calendario class="btn btn-primary" (click)="routeToTab('datetime')"
                        *ngIf="AppCalendario.firstTime([p])">
                        
                          <svg class="icon icon-sm icon-padded icon-white me-2">
                            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-circle"></use>
                          </svg>
                          <small>Altre disponibilità</small>
                        </button>
                        <!-- Alert nessuna disponibilità -->
                        <small *ngIf="!AppCalendario.firstTime([p])" class="alert alert-danger rounded text-nowrap">
                          Nessuna disponibilità
                        </small>
                      </div>
                    </div>
                  }
                </section>

              </aside>
            </div>
          </div>
          
          <!--! Tab 2: DATA E ORA -->
          <div class="panel tab-pane" id="datetime">
            <div class="row justify-content-center gx-3 gy-4">
              <!-- Riepilogo Prestazione selezionato (sinistra) -->
              <aside class="col-12 col-md-4 col-lg-3 shadow-sm m-0 p-3 order-lg-1">
                <h5 class="font-weight-bold mb-3" aria-label="Prestazione Selezionta"p-0>Prestazione Selezionata</h5>
                <div>
                  <div class="selected-prestazione mb-4">
                    <div class="pe-2 border border-2 border-neutral-2-bg-a2 rounded-top p-3" style="max-height: 30vh; overflow-y: scroll;"
                      *ngIf="AppPrestazioni.selezionate().length">
                      @for (ps of AppPrestazioni.selezionate(); track $index) {
                        <h6 class="font-weight-bold">{{ ps.name }}</h6>
                        <div>
                          <span class="badge bg-secondary">{{ AppPrestazioni.getReparto(ps.repartoId)?.name }}</span>
                        </div>
                        <div class="d-grid justify-content-between" style="grid-template-columns: auto auto;">
                          <span>Durata:</span>
                          <span class="font-weight-bold">{{ ps.defaultDuration }} minuti</span>
                          <span>Codice prestazione:</span>
                          <span class="font-weight-bold">{{ ps.code }}</span>
                          <span>Costo prestazione:</span>
                          <span class="font-weight-bold">€{{ ps.privatePrice }}</span>
                        </div>
                        <hr>
                      }
                    </div>
                  </div>
                  
                  <div class="btn-group-vertical" id="btn-first-available" (click)="AppCalendario.selezionaPrimaDisponibile()">
                    <button date class="btn btn-secondary w-100" title="Prima Data e Ora Disponibile e Avanti" aria-label="Prima Data e Ora Disponibile e Avanti">
                      <h6 class="font-weight-bold">Primo Disponibile</h6>
                      <svg class="icon icon-sm icon-padded icon-white m-0 me-2">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-circle"></use>
                      </svg> <span>{{ AppCalendario.firstTime(AppPrestazioni.selezionate()) }}</span>
                    </button>
                  </div>

                </div>
                <button class="btn btn-primary w-100" data-target-tab="#prestazione" title="Indietro" aria-label="Indietro">
                  <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-left-circle"></use>
                  </svg>Indietro
                </button>
              </aside>

              <!-- Calendario (centro) -->
              <aside class="col-12 col-md-8 col-lg-6 shadow-sm m-0 p-3 order-lg-2">
                <h5 aria-label="Calendario Disponibilità">
                  Calendario Disponibilità
                </h5>
                <section>

                  <!-- Calendario -->
                  <div id="calendar" class="w-100">
                    <header id="month-year" class="d-flex justify-content-between align-items-center mb-2">
                      <div class="d-flex align-items-center gap-2">
                        <b id="month-name">{{ AppCalendario.monthNames[AppCalendario.currentMonth()] }}</b>
                        <b id="year">{{ AppCalendario.currentYear() }}</b>
                      </div>
                      <div>
                        <button (click)="AppCalendario.backToday($event)" title="Data Corrente" id="backToday" class="btn p-1" aria-label="Vaia alla data corrente">
                          <svg class="icon icon-primary"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-calendar"></use></svg>
                        </button>
                        <button (click)="AppCalendario.navigate($event)" title="Mese precedente" id="prev" class="btn p-1" aria-label="Mese Precedente">
                          <svg class="icon icon-sm icon-primary">
                            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-up"></use>
                          </svg>
                        </button>

                        <button (click)="AppCalendario.navigate($event)" title="Mese successivo" id="next" class="btn p-1" aria-label="Mese Successivo">
                          <svg class="icon icon-sm icon-primary">
                            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-down"></use>
                          </svg>
                        </button>
                      </div>
                    </header>
                    <div id="days-of-week" sevenDays>
                      <div title="Lunedì" aria-label="Lunedì">Lun</div><div title="Martedì" aria-label="Martedì">Mar</div><div title="Mercoledì" aria-label="Mercoledì">Mer</div><div title="Giovedì" aria-label="Giovedì">Gio</div>
                      <div title="Venerdì" aria-label="Venerdì">Ven</div><div title="Sabato" aria-label="Sabato">Sab</div><div title="Domenica" aria-label="Domenica">Dom</div>
                    </div>
                    
                    <main id="days" sevenDays>
                      @for (g of AppCalendario.renderCalendario(); track $index) {
                        <!-- Spazi vuoti per il primo giorno -->
                        <b *ngIf="!g.day"></b>
  
                        <!-- Giorni del mese -->
                        <button *ngIf="g.day" class="btn"
                                [ngClass]="g.colorClass"
                                [attr.slot-date]="g.todayStr"
                                (click)="AppCalendario.selezionaGiorno(g.todayStr)">
                          {{ g.day }}
                        </button>
                      }
                    </main>
                  </div>

                  <!-- Slots -->
                  <div class="d-flex flex-wrap gap-2 justify-content-center">
                    @if (!AppCalendario.renderSlots()){
                      <div class="alert alert-warning rounded">Nessuno slot disponibile per questa data.</div>
                    }@else {
                      <div *ngFor="let btn of AppCalendario.renderSlots()">
                        <button class="btn m-2 p-2 btn-light border {{btn.hideIfRepeatTime}}" [attr.slot-id]="btn.slot.id" 
                          [disabled]="btn.disabled" (click)="AppCalendario.selezionaSlot($event, btn.slot)">
                          <svg class="icon icon-sm icon-primary mr-2 me-2">
                            <use href="/assets/bootstrap-italia/svg/sprites.svg#it-clock"></use>
                          </svg>
                          <span>{{btn.slot.time}} - {{btn.endTime}}</span>
                        </button>
                      </div>
                    }
                  </div>
                </section>
              </aside>

              <!-- Riepilogo data selezionata (destra) -->
              <aside class="col-12 col-lg-3 shadow-sm m-0 p-3 order-lg-3">
                <h5 class="font-weight-bold" id="selectedDateTime">Orario Selezionato</h5>
                <div>
                  <div *ngIf="AppCalendario.slotSelezionato()">
                    <div>
                      <b class="font-weight-bold">{{AppCalendario.slotSelezionato()?.time}} - {{AppCalendario.itaDate(AppCalendario.slotSelezionato()?.date || '')}}</b>
                    </div>
                    <hr>  
                    <div class="location-info mb-4">
                      <h6 class="text-uppercase text-muted small">
                        <svg class="icon icon-sm icon-padded icon-primary mr-1">
                          <use href="/assets/bootstrap-italia/svg/sprites.svg#it-pa"></use>
                        </svg>Struttura
                      </h6>  
                      <p class="font-weight-bold mb-1">{{ main.getStruttura(AppPrestazioni.selezionate()[0].strutturaId)?.name }}</p>
                      <p class="small mb-1">{{ main.getAgenda(AppPrestazioni.selezionate()[0].agendaId)?.name }}</p>
                      <p class="small">{{ main.getStruttura(AppPrestazioni.selezionate()[0].strutturaId)?.address }}</p> 
                    </div> 
                  </div>
                </div>

                <button title="Avanti" class="btn btn-primary w-100" [disabled]="!AppCalendario.slotSelezionato()" data-target-tab="#paziente" aria-label="Avanti">
                  <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-circle"></use>
                  </svg>Avanti
                </button>
              </aside>
            </div>
          </div>
      
          <!--! Tab 3: PAZIENTE -->
          <div class="panel tab-pane" id="paziente">
            <div class="row justify-content-center ">
              <!-- Riepilogo prenotazione (sinistra) -->
              <aside class="col-12 col-md-4 col-lg-3 shadow mb-4 m-0">
                <h5 class="font-weight-bold" aria-label="Riepilogo Prenotazione">Riepilogo Prenotazione</h5>
                <div>
                  <div id="selectedPrestazioneC" class="selected-prestazione mb-4">
                    <div class="pe-2 border border-2 border-neutral-2-bg-a2 rounded-top p-3" style="max-height: 30vh; overflow-y: scroll;"
                      *ngIf="AppPrestazioni.selezionate().length">
                      @for (ps of AppPrestazioni.selezionate(); track $index) {
                        <h6 class="font-weight-bold">{{ ps.name }}</h6>
                        <div>
                          <span class="badge bg-secondary">{{ AppPrestazioni.getReparto(ps.repartoId)?.name }}</span>
                        </div>
                        <div class="d-grid justify-content-between" style="grid-template-columns: auto auto;">
                          <span>Durata:</span>
                          <span class="font-weight-bold">{{ ps.defaultDuration }} minuti</span>
                          <span>Codice prestazione:</span>
                          <span class="font-weight-bold">{{ ps.code }}</span>
                          <span>Costo prestazione:</span>
                          <span class="font-weight-bold">€{{ ps.privatePrice }}</span>
                        </div>
                        <hr>
                      }
                    </div>
                  </div>
                  <hr>
                  <div id="TselectedPatient" class="details" *ngIf="AppPaziente.pazienteSelezionato()">
                    <h6>{{ AppPaziente.pazienteSelezionato()?.firstName }} {{ AppPaziente.pazienteSelezionato()?.lastName }}</h6>
                    <p class="small mb-1">CF: {{ AppPaziente.pazienteSelezionato()?.fiscalCode }}</p>
                    <p class="small mb-1">Nato il: {{ AppCalendario.itaDate(AppPaziente.pazienteSelezionato()?.birthDate ||'') }} ({{ AppPaziente.calcoloEta() }} anni)</p>
                    <p class="small mb-1">Tel: {{ AppPaziente.pazienteSelezionato()?.phoneNumber }}</p>
                    <p class="small mb-0">{{AppPaziente.pazienteSelezionato()?.address}} 
                                          {{AppPaziente.pazienteSelezionato()?.postalCode}} 
                                          {{AppPaziente.pazienteSelezionato()?.city}} 
                                          ({{AppPaziente.pazienteSelezionato()?.recidenceProvince}})</p>
                  </div>
                </div>
                <button title="Indietro" class="btn btn-primary btn-block mt-3 w-100" data-target-tab="#datetime" aria-label="Indietro">
                  <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-left-circle"></use>
                  </svg>Indietro
                </button>
              </aside>
          
              <!-- Ricerca Paziente (centro) -->
              <div class="col-12 col-md-8 col-lg-6 shadow-sm p-2 mb-4">
                <div class="d-flex flex-column flex-md-row align-items-start justify-content-between px-3">
                  <h5 class="font-weight-bold" aria-label="Ricerca Paziente">Ricerca Paziente</h5>
                  <div class="mt-2 mt-md-0 ms-md-2">
                    <button title="Nuovo Paziente" id="newPatient" class="btn btn-primary btn-xs" type="button" data-bs-toggle="modal" data-bs-target="#addPatient" aria-label="Nuovo Paziente">
                      <svg class="icon icon-sm icon-padded icon-white mr-1">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-plus"></use>
                      </svg>Nuovo Paziente
                    </button>
                  </div>
                </div>
          
                <aside>
                  <div class="d-flex align-items-center mb-3">
                    <div class="it-search-wrapper w-100" style="border-bottom: 1px solid;">
                      <label for="filtroPazienti" class="visually-hidden" aria-label="Cerca paziente per nome, codice fiscale o telefono...">Cerca paziente per nome, codice fiscale o telefono...</label>
                      <div class="input-group align-items-center">
                        <svg class="icon icon-sm" aria-hidden="true">
                          <use href="/assets/bootstrap-italia/svg/sprites.svg#it-search"></use>
                        </svg>
                        <input [(ngModel)]="AppPaziente.filtroPaziente" id="patientsFilter" type="search" class="form-control m-0 border-0" placeholder="Cerca paziente per nome, codice fiscale o telefono...">
                      </div>
                    </div>
                  </div>

                  <section class="list-group mb-3" id="patientsList">
                    @if (AppPaziente.renderPatients().pazienti.length===0 && AppPaziente.filtroPaziente.length<3) {
                      <div class="alert alert-info rounded">Digita almeno 3 caratteri per filtrare i pazienti. </div>

                    }@else if (AppPaziente.renderPatients().pazienti.length===0 && AppPaziente.filtroPaziente.length) {
                      <div class="alert alert-warning rounded">Nessun Paziente trovato con i filtri applicati.</div>

                    }@else {
                      <div class="list-group" *ngFor="let paziente of AppPaziente.renderPatients().pazienti">
                        <div class="agenda-item d-flex justify-content-between align-items-center p-3 {{AppPaziente.renderPatients().isSel(paziente)}}"
                          (click)="AppPaziente.selezionaPaziente($event, paziente)"
                        > <div>
                            <h6 class="mb-1">{{paziente.lastName}} {{paziente.firstName}}</h6>
                            <p class="small text-muted mb-0">{{paziente.fiscalCode}}</p>
                            <p class="small text-muted mb-0">{{ AppCalendario.itaDate(paziente.birthDate)}} - {{paziente.gender}}</p>
                            <p class="small text-muted mb-0">Tel: {{paziente.phoneNumber}}</p>
                            <p class="small text-muted mb-0">{{paziente.city}} ({{paziente}})</p>
                          </div>
                          <div class="text-right btn-group-vertical">
                            <button name="storicoPaziente" class="btn btn-sm btn-primary mt-1"
                              data-bs-toggle="modal" data-bs-target="#historyModal" type="button">
                              <svg class="icon icon-sm icon-white">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-note"></use>
                              </svg> <small>Storico</small> 
                            </button>
                            <button class="btn btn-primary p-1 pe-3 text-nowrap" nextBtn>
                              <svg class="icon icon-sm icon-padded icon-white">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-circle"></use>
                              </svg> <small>Conferma</small> 
                            </button>
                          </div>
                        </div>
                      </div>
                    }
                  </section>
                </aside>
              </div>
            </div>
          </div>
                          
          <!--! Tab 4: CONFERMA -->
          <div class="panel tab-pane" id="confirm">
            <div class="row justify-content-center">
              <div class="col-lg-8 offset-lg-2 shadow p-3 mb-5 m-0">
                <h5 class="font-weight-bold mb-4 text-center" aria-label="Riepilogo Prenotazione">Riepilogo Prenotazione</h5>
                <div class="card">
                  <div class="card-body p-0">
                    
                    <div *ngIf="appConferma.render()">
                      <h5 class="card-header text-bg-primary mb-3"> Dettagli Appuntamento </h5>

                        <main class="row">
                          <div class="col-md-6">
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-file"></use>
                              </svg>Prestazioni
                            </h6>
                            <ul class="d-flex gap-2 flex-wrap justify-content-between list-unstyled pe-4">

                              <li *ngFor="let prestazione of AppPrestazioni.selezionate()">
                                <div class="small p-2">
                                  <svg class="icon icon-sm"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-triangle"></use></svg>
                                  {{prestazione.name}}
                                  <div class="small text-muted p-2 text-center">Codice: {{prestazione.code}}</div>
                                </div>
                              </li>

                            </ul>
                            <footer class="pb-2">
                              <div class="small text-muted">Codice prescrizione: <b>{{appConferma.render()?.prescription?.prescriptionNumber}}</b></div>
                              <div class="small text-muted">Tempo preparazione: <b>{{appConferma.render()?.maxPreparationTime}} minuti</b></div>
                              <div class="small text-muted">Durata visita: <b>{{appConferma.render()?.totalDuration}} minuti</b></div>
                            </footer>
                          </div>

                          <div class="col-md-6">
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-pa"></use>
                              </svg>Struttura
                            </h6>
                            <div>{{appConferma.render()?.struttura?.name}}</div>
                            <div class="small text-muted">Reparto:  
                              <b>{{appConferma.render()?.reparto?.name}} 
                                {{appConferma.render()?.reparto?.branchTypeId}}, 
                                Piano {{appConferma.render()?.reparto?.branchCode}}
                              </b>
                            </div>
                            <div class="small text-muted">Struttura:  
                              <b>{{appConferma.render()?.struttura?.address}}, 
                                {{appConferma.render()?.struttura?.city}}, 
                              ( {{appConferma.render()?.struttura?.province}} )
                              </b>
                            </div>
                            <div class="small text-muted">Email:    <b>{{appConferma.render()?.struttura?.email}}</b></div>
                            <div class="small text-muted">Telefono: <b>{{appConferma.render()?.struttura?.phone}}</b></div>
                          </div>

                          <div class="col-md-6">
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-calendar"></use>
                              </svg>Data e Ora
                            </h6>
                            <p class="small text-muted">
                              {{ AppCalendario.itaDate(AppCalendario.slotSelezionato()?.date ||'') }},  
                              {{ AppCalendario.slotSelezionato()?.time }}
                            </p>
                          </div>          

                          <div class="col-md-6">
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-user"></use>
                              </svg>Paziente
                            </h6>
                            <div>{{ AppPaziente.pazienteSelezionato()?.lastName}} {{ AppPaziente.pazienteSelezionato()?.firstName}}</div>
                            <div class="small text-muted">CF: {{ AppPaziente.pazienteSelezionato()?.fiscalCode }}</div>
                            <div class="small text-muted">Nato il: {{ AppCalendario.itaDate(AppPaziente.pazienteSelezionato()?.birthDate ||'') }}</div>
                            <div class="small text-muted">Genere: {{ AppPaziente.pazienteSelezionato()?.gender }}</div>
                          </div>

                          <div class="col-md-6">
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-user"></use>
                              </svg>Medico
                            </h6>
                            <div>{{ appConferma.render()?.medico?.title }} 
                                 {{ appConferma.render()?.medico?.lastName }} 
                                 {{ appConferma.render()?.medico?.firstName }}</div>
                            <div class="small text-muted">Email:    {{ appConferma.render()?.medico?.email }}</div>
                            <div class="small text-muted">Telefono: {{ appConferma.render()?.medico?.phone }}</div>
                          </div>
                          
                          <div class="col-md-6">  
                            <h6 class="font-weight-bold mt-3">
                              <svg class="icon icon-sm icon-padded icon-primary mr-1">
                                <use href="/assets/bootstrap-italia/svg/sprites.svg#it-card"></use>
                              </svg>Pagamento
                            </h6>
                            <p>Costo totale prestazioni: {{ appConferma.render()?.totalPrivatePrice }}€</p>
                            <div *ngIf="appConferma.impostaBollo()" class="alert alert-primary  rounded mt-3">
                              Attenzione: per importi superiori a 77,47€ deve essere applicata l’imposta di bollo da 2€.
                            </div>
                          </div>
                        </main>

                    </div>
                  </div>
                </div>

                <div>
                  <div class="form-check mt-3">
                    <input [(ngModel)]="appConferma.sendSMS" title="Promemoria via SMS" class="form-check-input" type="checkbox" id="sendSMSCheck">
                    <label class="form-check-label" for="sendSMSCheck" aria-label="Invia promemoria SMS al paziente">Invia promemoria SMS al paziente</label>
                  </div>
                  <div class="form-check">
                    <input [(ngModel)]="appConferma.sendEmail" title="Promemoria via Email" class="form-check-input" type="checkbox" id="sendEmailCheck">
                    <label class="form-check-label" for="sendEmailCheck" aria-label="Invia promemoria Email al paziente">Invia promemoria Email al paziente</label>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div class="alert alert-info rounded" role="alert">
                      <h6 class="text-uppercase text-muted small d-flex align-items-center">Note</h6>
                      <p class="small" aria-label="Portare documentazione clinica precedente. Presentarsi 15 minuti prima dell'appuntamento per pratiche amministrative.">
                        Portare documentazione clinica precedente. Presentarsi 15 minuti prima dell'appuntamento per pratiche amministrative.</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <h6 class="text-uppercase text-muted small d-flex align-items-center" aria-label="Documenti Richiesti">
                      <svg class="icon icon-sm icon-padded icon-primary me-1">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-files"></use>
                      </svg>Documenti Richiesti
                    </h6>
                    <ul class="list list-unstyled small ps-3 ">
                      <li aria-label="Documento d'identità"><svg class="icon icon-sm me-2"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-triangle"></use></svg>Documento d'identità</li>
                      <li aria-label="Tessera sanitaria"><svg class="icon icon-sm me-2"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-triangle"></use></svg>Tessera sanitaria</li>
                      <li aria-label="Impegnativa medico curante"><svg class="icon icon-sm me-2"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-triangle"></use></svg>Impegnativa medico curante</li>
                      <li aria-label="Eventuali esami precedenti"><svg class="icon icon-sm me-2"><use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-right-triangle"></use></svg>Eventuali esami precedenti</li>
                    </ul>
                  </div>
                </div>

                <div class="d-flex justify-content-between align-items-center gap-3">
                  <button title="Indietro" class="btn btn-primary" data-target-tab="#paziente" aria-label="Indietro">
                    <svg class="icon icon-sm icon-padded icon-white mr-2 me-2">
                      <use href="/assets/bootstrap-italia/svg/sprites.svg#it-arrow-left-circle"></use>
                    </svg>Indietro
                  </button>
                  <button (click)="appConferma.onsubmit($event)" title="Conferma Prenotazione" class="btn btn-primary" id="confermaPrenotazione" aria-label="Conferma Prenotazone">
                    <svg class="icon icon-sm icon-padded icon-white mr-2">
                      <use href="/assets/bootstrap-italia/svg/sprites.svg#it-check" class="d-none"></use>
                    </svg>Conferma Prenotazione
                  </button>
                </div>

              </div>
            </div>
          </div>  

        </div>
      </div>
    </div>
  </div>
</article>
