<header class="it-header-slim-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <a class="it-brand-text d-lg-block navbar-brand mb-0 me-auto text-white font-sans-serif" href="../home/home.htlm">OloCUP3</a>
            <div class="it-header-slim-right-zone d-flex flex-column flex-sm-row align-items-center gap-2">
              <div class="header-item button p-5 mb-2 text-white ">
                <a class="header-link button-toggle d-flex align-items-center text-white" href="../users/user.html" role="button" data-bs-toggle="button" aria-expanded="false">
                  <svg class="icon icon-sm icon-lg icon-white mr-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-user"></use>
                  </svg>
                  <span>USER</span>
                </a>
              </div>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle d-flex align-items-center"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  Notifiche
                  <svg class="icon icon-sm icon-light mr-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-bookmark"></use>
                  </svg>
                  <a href="#">
                    <div class="badge bg-white ms-2">
                      <span class="bottom-nav-badge text-secondary font-sans-serif">1</span>
                    </div>
                  </a>
                </button>
                <div class="dropdown-menu ">
                  <div class="link-list-wrapper">
                    <ul class="link-list">
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 1</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 3</span>
                        </a>
                      </li> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>