<header class="it-header-slim-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content d-flex flex-wrap align-items-center justify-content-between">
          <!-- logo -->
          <a class="it-brand-text d-lg-block navbar-brand mb-0 me-auto text-white font-sans-serif" routerLink="/home">OloCUP3</a>
          <!-- parte finale -->
            <div class="it-header-slim-right-zone d-flex flex-wrap align-items-center gap-2">
              <div class="header-item buttontext-white d-flex gap-2">
                @if (user){
                    <a class="header-link button-toggle d-flex align-items-center text-white" routerLink="/users" role="button" data-bs-toggle="button" aria-expanded="false">
                      <svg class="icon icon-sm icon-lg icon-white mr-2 me-1">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-user"></use>
                      </svg>
                      <span>{{ user?.role }}</span>
                    </a>
                    <a (click)="auth.logout()" class="header-link button-toggle d-flex align-items-center text-white me-2">
                      <svg class="icon icon-sm icon-lg icon-white mr-2 me-1">
                        <use href="/assets/bootstrap-italia/svg/sprites.svg#it-logout"></use>
                      </svg>
                      <span class="d-none d-sm-inline">Logout</span>
                    </a>
                  }@else {
                    <a routerLink="/login">Login</a>
                  }
              </div>

              <!-- notifiche -->
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle d-flex align-items-center"
                  type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="d-none d-sm-inline">Notifiche</span>
                  <svg class="icon icon-sm icon-light mr-2">
                    <use href="/assets/bootstrap-italia/svg/sprites.svg#it-bookmark"></use>
                  </svg>
                  <a href="#">
                    <div class="badge bg-white ms-2">
                      <span class="bottom-nav-badge text-secondary font-sans-serif">1</span>
                    </div>
                  </a>
                </button>

                <div class="dropdown-menu ">
                  <div class="link-list-wrapper">
                    <ul class="link-list">
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 1</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item list-item" href="#">
                          <span>Notifica 3</span>
                        </a>
                      </li> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>