<nav class="breadcrumb-container" aria-label="Percorso di navigazione">
  <div class="container">
    <ol class="breadcrumb">

      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
        <span class="separator">/</span>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/settings">Settings</a>
        <span class="separator" *ngIf="match">/</span>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        @if(match){
          <a routerLink="/{{match}}">{{ formattedPath }}</a>

        }@else {
          <span>...</span>
        }
      </li>

    </ol>
  </div>
</nav>
